<div class="media-container">
    <div class="media-group">
        <div>
            <svg class="icon icon--media">
                <use xlink:href="images/sprite.svg#search"></use>
            </svg>
        </div>

        <div class="media-text">
            <h4 class="hmedia">Easy Start & Managed Updates</h4>
            <p class="pmedia">
                Our cloud plans include easy onboarding for new and existing sites and managed WordPress and WooCommerce
                auto-updates.
            </p>
        </div>
    </div>
    <div class="media-group">
        <div>
            <svg class="icon icon--media">
                <use xlink:href="images/sprite.svg#growth"></use>
            </svg>
        </div>

        <div class="media-text">
            <h4 class="hmedia">Staging, Git & WP-CLI</h4>
            <p class="pmedia">
                We make your WordPress and WooCommerce development flow easier with a convenient staging tool and Git
                and WP-CLI integration.
            </p>
        </div>
    </div>
    <div class="media-group">
        <div>
            <svg class="icon icon--media">
                <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
        </div>

        <div class="media-text">
            <h4 class="hmedia">Dynamic Caching & More</h4>
            <p class="pmedia">
                Speed up your WordPress ad Woo sites with our SG Optimizer plugin through smart dynamic caching and
                multiple other performance optimizations.
            </p>
        </div>
    </div>
</div>
