<div class="card testimonial">
    <div class="grid grid--1x2">
        <div class="testimonial__image">
            <img src="images/testimonial.jpg" alt="A happy, smiling customer" />
            <span class="icon-container">
                <svg class="icon icon--primary icon--testimonial">
                    <use xlink:href="images/sprite.svg#quotes"></use>
                </svg>
            </span>
        </div>
        <blockquote class="quote">
            <p class="quote__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates vel aperiam similique explicabo,
                itaque minus modi fuga doloremque eos alias.
            </p>
            <footer>
                <div class="media-group">
                    <div>
                        <svg class="icon icon--media quote__line">
                            <use xlink:href="images/sprite.svg#line"></use>
                        </svg>
                    </div>

                    <div class="media-text quote__name">
                        <h3 class="hmedia quote__name-title">John Smith</h3>
                        <p class="pmedia quote__name-text">ABC Company</p>
                    </div>
                </div>
            </footer>
        </blockquote>
    </div>
</div>
